.contact-form {
    width: 80%;
    margin: 40px auto;
}

.contact-form fieldset {
    border: 2px solid purple;
    background-color: rgba(128, 0, 128, .1);
    padding: 30px 20px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, .3);
}

.contact-form legend {
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 1px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
}

.contact-form table {
    width: 100%;
}

.contact-form th,
.contact-form td {
    padding: 8px;
}

.contact-form th {
    font-weight: normal;
    text-align: left;
    width: 25%;
}

.contact-form td {
    width: 75%;
    padding-right: 5%;
}

.contact-form label {
    font-size: 18px;
    transition: .2s;
    letter-spacing: .3px;
}

.contact-form label.focused {
    color: purple;
    text-shadow: 0 0 1px black;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
    color: #222;
}

.contact-form input[type=password],
.contact-form input[type=text],
.contact-form textarea {
    font-size: 18px;
    padding: 5px 8px;
    font-family: 'Raleway';
    outline-color: purple;
    border: 1px solid #aaa;
    transition: .2s;
    width: 70%;
    color: #555;
    background-color: rgba(255, 255, 255, .7);
}

.contact-form textarea {
    min-height: 180px;
    width: 100%;
}

.contact-form button {
    margin-top: 15px;
    padding: 8px 15px;
    font-size: 18px;
    background-color: rgba(128, 0, 128, .2);
    border: 2px solid purple;
    border-radius: 5px;
    font-family: 'Raleway';
    transition: .1s;
    cursor: pointer;
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, .15);
    outline: none;
}

.contact-form button:hover {
    background-color: rgba(128, 0, 128, 1);
    color: #fff;
}

p.message-sent {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    margin-top: 30px;
}

p.message-sent>i {
    margin-right: 8px;
    font-size: 23px;
    vertical-align: -1px;
}

@media (max-width: 768px) {
    .contact-form {
        width: 100%;
    }

    .contact-form fieldset {
        padding: 30px 5px;
    }

    .contact-form th,
    .contact-form td {
        padding: 8px 4px;
    }

    .contact-form th {
        width: 15%;
    }

    .contact-form td {
        width: 85%;
        padding-right: 4px;
    }

    .contact-form label {
        font-size: 15px;
    }

    .contact-form input[type=password],
    .contact-form input[type=text] {
        width: 100%;
    }
}